* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: darkseagreen;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.display-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: wrap;
}

.display-grid .post-card {
  flex-basis: 25%;
  flex-grow: 1;
  flex-shrink: 0;
  box-shadow: 3px 4px 10px #e1e1e1;
  border: 1px solid #e1e1e1;
  padding: 0px 15px 6px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.searchbar input {
  width: 50%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  margin: 30px auto;
  display: block;
  outline: 0;
}

.notFound {
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 22px;
  font-weight: 500;
  background-color: rgb(255 255 255 / 40%);
  padding: 30px;
  border-radius: 8px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 60%;
  margin: auto;
}

.pagination button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
}

.active {
  background: black;
  color: #fff;
  border: 1px solid #000;
}
